# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Symbolication files
app.*.symbols

# Obfuscation related
app.*.map.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.lock

# iOS / macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/Flutter-Profile.xcconfig
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/
